.classBox
{
	fill: white;
	stroke: black;
	stroke-width: 2;
}

.ClassName
{
	fill: white;
	font-weight:bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.ClassHeaderBar
{
	fill: #333333;
}

@keyframes hoverFillAnimation
{
	from {fill: #333333;}
	to {fill: #8CBAFF;}
}

@-webkit-keyframes hoverFillAnimation /* Safari and Chrome */
{
	from {fill: #333333;}
	to {fill: #8CBAFF;}
}

@keyframes hoverStrokeAnimation
{
	from {stroke: #333333;}
	to {stroke: #8CBAFF;}
}

@-webkit-keyframes hoverStrokeAnimation
{
	from {stroke: #333333;}
	to {stroke: #8CBAFF;}
}


.ClassHeaderBarHover
{
	animation: hoverFillAnimation 0.2s;
	-webkit-animation: hoverFillAnimation 0.2s; 

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	cursor:move;
}

.ClassOutlineHover
{
	animation: hoverStrokeAnimation 0.2s;
	-webkit-animation: hoverStrokeAnimation 0.2s; 

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	stroke: #8CBAFF;
}

