*.dll
*.obj
*.pdb
*.suo
*.vsp
*.png
*.xcf

[Dd]ebug/
[Rr]elease/


CodeDom/TestData/TempTestFolder/*
CodeDom/TempTestFolder/*
CodeDom/tmpSaveFolder/*
CodeDom/CodeDom/CodeDom/obj/*
CodeDom/CodeDom/packages/*
ClassDiagram/CodeCooker/bin/*
ClassDiagram/UpgradeLog.htm
ClassDiagram/packages/*
ClassDiagram/CodeCooker/UserGeneratedCode/*
ClassDiagram/CodeCooker/obj/*
ClassDiagram/CodeCooker/Google.Apis.Sample.MVC/*
FrontEnd/node_modules/*
ClassDiagram/CodeCookerUnitTests/bin/*
ClassDiagram/CodeCookerUnitTests/obj/*
widgetData/*

sqlServerPasswords.txt
