<div class="container mainMody">
    <div class="row">
        <div class="span4">
            <h3 class="centerText">Zero Hassle UML</h3>
            <div class="center" style="height:40px;width:40px;"><img src="~/Content/img/Cdiag.svg" /></div>
            <p>
                Code cooker is a free online UML class diagram tool. It works in your browser so there is none of this nasty business with installers. Save and load your UML models to and from your google drive.
            </p>
        </div>
        <div class="span4">
            <h3 class="centerText">Code Generation</h3>
            <div class="center" style="height:40px;width:40px;"><img src="~/Content/img/Page.svg" /></div>
            <p>At the moment we have C#, C++ and Coffeescript code generators, not to worry if these don't meet your needs though, because we have more on the way.</p>
        </div>
        <div class="span4">
            <h3 class="centerText">Sandbox Mode</h3>
            <div class="center" style="height:40px;width:40px;"><img src="~/Content/img/Sandbox.svg" /></div>
            <p>Just here to try Code Cooker out? Why don't you jump right in with our sandbox mode. You won't be able to save your models but it's the fastest way to get some hands on experience with the Code Cooker service. </p>
        </div>
    </div>
    <div class="row">
        <div class="span11"><h3 class="centerText">Co-Op Mode</h3></div>
        <div class="span6">
            <h3 class="centerText">Real-Time</h3>
            <p>Code cooker now incorporates real time collaboratetion features. 
            More than one code cooker user can now work on a single class diagram simultaneously. The
            changes made by other users in your group can be seen in real time.</p>
        </div>
        <div class="span5">
            <h3 class="centerText">Chat / Group Management</h3>
            <p>The intergrated chat system will help you communicate with others in the group. 
            The group management system allows the group host to accept or reject join requests from 
            other code cooker users.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            <img src="~/Content/img/drive_outline-small.png" />
        </div>
    </div>
</div>