@{
    ViewBag.Title = "Contact | Code Cooker";
}
<div class="container mainMody">
    <hgroup class="title">
        <h1>Contact</h1>
    </hgroup>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:Support@CodeCooker.Net">Support@CodeCooker.Net</a></span>
        </p>
    </section>
</div>
